<div id="cart" data-bs-toggle="modal" data-bs-target="#modal-cart">
  <img src="/image/catalog/icons/Groupbusket{% if (home_url != '/' and home_url != '/index.php?route=common/home') %}-white{% endif %}.svg"> <span id="cart-total">{{ text_items }}</span>
</div>

<!-- Modal Cart -->
<div class="modal fade" id="modal-cart" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="staticBackdropLabel">Корзина</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mt-3 cart-modal-header align-items-center d-none d-md-flex">
            <div class="col-md-2 order-0 product-img"> Товар</div>
            <div class="col-md-2 offset-3">Количество</div>
            <div class="col-md-2 offset-1">Цена</div>
            <div class="col-md-2">Сумма</div>
        </div>      
      {% for product in products %}
        <div class="row mt-3 align-items-center">
          <div class="col-md-2 col-3 order-0 product-img">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a>{% endif %}</div>
          <div class="col-md-3 col-7 product-name order-0"><a href="{{ product.href }}">{{ product.name }}</a>{% if product.option %}{% for option in product.option %}, <small>{{ option.value }}</small> {% endfor %}
            {% endif %}
          </div>
          <div class="col-md-2 col-4 order-md-2 order-1 py-2 py-md-0 product-qty">
                    <div class="col-12 form-group d-flex align-items-center justify-content-between">
                        <div class="input-qty">
                            <div class="input-qty-btn minus"></div>
                            <input type="text" class="input-qty-field" name="quantity" value="{{ product.quantity }}" size="2" id="input-quantity" onchange="cart.update('{{ product.cart_id }}', this.value);">
                            <div class="input-qty-btn plus"></div> 
                        </div>
                    </div>
          </div>
          <div class="col-1 text-center order-md-3 order-0 produt-rm"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-rm"></button></div>
          <div class="col-md-2 col-4 order-md-4 order-1 product-price">{{ product.cost }}</div>
          <div class="col-md-2 col-4 order-md-5 order-1 product-total">{{ product.total }}</div>
        </div>
      {% endfor %}
      </div>
      <div class="modal-footer">
            <div class="row mt-3 align-items-center my-3 cart-totals-row">
                <div class="col-md-3 offset-md-2 col-7 total-name order-0">
                    {{ totals[0].title }}:
                </div>
                <div class="col-md-2 col-4 offset-md-5 order-md-5 order-1 cart-total" id="cart-total-sum">{{ totals[0].text }}</div>
            </div>  
            <div class="row text-center">
                <div class="col-12">
                    <a class="btn btn-secondary" data-bs-dismiss="modal">Вернуться к покупкам</a>
                    <a class="btn btn-primary" href="/cart">Оформить заказ</a>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>