<footer>
	<div class="container">
		<div class="row">
			{% if logo %}
				<div class="col-sm-2">
					<img src="{{ logo }}" width="70" height="70">
				</div>
			{% endif %}
		</div>
	</div>
</footer>
<div class="footer-copyright text-center">КОРОЛЕВСКИЙ КРАБ © 2022. ALL RIGHTS RESERVED.</div>
{% for style in styles %}
	<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
{% endfor %}
{% for script in scripts %}
	<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
<script type="text/javascript" src="/catalog/view/javascript/slick/slick.min.js"></script>
<!--script src="catalog/view/javascript/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script-->

<script src="catalog/view/javascript/common.js" type="text/javascript"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<!--script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script-->
<script src="catalog/view/javascript/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>

<script>
	$('.big-images').slick({slidesToShow: 1});
$('.store-card-inner').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    vertical: true,
    verticalSwiping: true,
    arrows: true,
    prevArrow: '<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: block;"><img src="/image/catalog/icons/Arrow.svg"></button>',
    nextArrow: '<button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;"><img src="/image/catalog/icons/Arrow.svg"></button>'
});
$('.store-contact-card-inner').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    arrows: true,
    prevArrow: '<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: block;"><img src="/image/catalog/icons/Arrow.svg"></button>',
    nextArrow: '<button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;"><img src="/image/catalog/icons/Arrow.svg"></button>',
    responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
    ]
});

$(".about-slider").on('init', function(event, slick){
    let index = 0;
    if (slick.slideCount > 1)
        index++;
        
        console.log(index);
    var CurrentSlideDom=$(slick.$slides.get(index));
    
    $('.about-slider-item').css('background', 'url('+$(CurrentSlideDom).find('img').attr('src')+')')
});

if ($("input[type=tel]").length) {
    $("input[type=tel]").intlTelInput({onlyCountries:['ua'],autoPlaceholder:true,utilsScript:"catalog/view/javascript/d_quickcheckout/library/phoneformat/js/utils.js"});
}

$(".about-slider").slick({
    dots: false,
    infinite: true,
    autoplay: true,
    speed: 300,
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: true,
    prevArrow: '<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: block;"><img src="/image/catalog/icons/Arrow.svg"></button>',
    nextArrow: '<button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;"><img src="/image/catalog/icons/Arrow.svg"></button>'
}).on('afterChange', function(event, slick, currentSlide){
    let index = currentSlide;
    if (currentSlide >= (slick.slideCount - 1))
        index = 0;
    else
        index++;
        
    var CurrentSlideDom=$(slick.$slides.get(index));
    
    $('.about-slider-item').css('background', 'url('+$(CurrentSlideDom).find('img').attr('src')+')')
});
</script></body></html>
