<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQl04h-hfI3IHnzRhpgq72ar5Kt1UhI9A"></script>

<link rel="stylesheet" type="text/css" href="/catalog/view/javascript/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/catalog/view/javascript/slick/slick-theme.css"/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

<script src="catalog/view/javascript/jquery/jquery-3.6.0.min.js" type="text/javascript"></script>
<script src="/catalog/view/javascript/jquery-nice-select/js/jquery.nice-select.min.js" type="text/javascript"></script>
<link href="/catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link rel="stylesheet" type="text/css" href="/catalog/view/javascript/jquery-nice-select/css/nice-select.css"/>
        


<!--link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" /-->
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body class="{% if (home_url == '/' or home_url == '/index.php?route=common/home') %}is-home{% endif %}">
<nav id="top">
  <div class="container">
    <div class="row">
        <div class="col-2 col-lg-6 col-md-2">
            {{ menu }}
        </div>
        <div id="header-contacts-container" class="col-8 col-lg-5 col-md-9">
                <div class="header-contacts-clock">
                    <img src="/image/catalog/icons/clock.svg"> {{ open }}
                </div>
                <div class="header-contacts-phone">
                    <img src="/image/catalog/icons/phone-call.svg"> <a href="tel:{{ telephone }}">{{ telephone }}</a>
                </div>
        </div>
        <div class="col-1" id="header-cart-container">
            {{ cart }}
        </div>
    </div>
  </div>
  <!--div class="container">{{ currency }}
    {{ language }}
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>

        </li>
        <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
        <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
        <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
      </ul>
          
    </div>
  </div-->
</nav>
<div class="home-header-block">
    
</div>
