{% for product in products %}
            <div id="product-{{ product.product_id }}" class="product-layout product-grid col-md-6 col-lg-4 {{ product.cats }}">
              <div class="product-thumb">
                <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
                <div class="product-card-info">
                  <div class="row product-card-topinfo">
                    <div class="col-7 product-card-name">
                        <a href="{{ product.href }}">{{ product.name }}</a>
                    </div>
                    <div class="col-5 product-card-price text-md-right"> 
                    {% if product.price %}
                    {% if not product.special %}
                      {{ product.price }}
                      {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                      {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %}
                    {% endif %}/кг
                    </div>
                  </div>
                  <div class="product-card-desc">{{ product.description }}</div>
                  <div class="product-params">
                    <div class="col-12 form-group d-flex align-items-center justify-content-between">
                      <label class="control-label me-2" for="input-quantity">Количество</label>
                        <div class="input-qty">
                            <div class="input-qty-btn minus"></div>
                            <input type="text" class="input-qty-field" name="quantity" value="1" size="2" id="input-quantity">
                            <div class="input-qty-btn plus"></div>
                        </div>
                      <input type="hidden" name="product_id" value="{{ product.product_id }}" />
                    </div>
              {% if product.options %}
                {% for option in product.options %}
                {% if option.type == 'select' %}
                <div class="col-12 form-group d-flex align-items-center justify-content-between {% if option.required %} required {% endif %}">
                  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                  <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                    {% for option_value in option.product_option_value %}
                    <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                {% endif %}
                {% if option.type == 'radio' %}
                <div class="col-12 form-group d-flex align-items-center justify-content-between{% if option.required %} required {% endif %}">
                  <label class="control-label">{{ option.name }}</label>
                  <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                    <div class="radio">
                      <label>
                        <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                        {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                        {{ option_value.name }}
                        {% if option_value.price %}
                        ({{ option_value.price_prefix }}{{ option_value.price }})
                        {% endif %} </label>
                    </div>
                    {% endfor %} </div>
                </div>
                {% endif %}
                {% if option.type == 'checkbox' %}
                <div class="col-12 form-group d-flex align-items-center justify-content-between{% if option.required %} required {% endif %}">
                  <label class="control-label">{{ option.name }}</label>
                  <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                        {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                        {{ option_value.name }}
                        {% if option_value.price %}
                        ({{ option_value.price_prefix }}{{ option_value.price }})
                        {% endif %} </label>
                    </div>
                    {% endfor %} </div>
                </div>
                {% endif %}
                {% if option.type == 'text' %}
                <div class="col-12 form-group d-flex align-items-center justify-content-between{% if option.required %} required {% endif %}">
                  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
                </div>
                {% endif %}
                {% if option.type == 'textarea' %}
                <div class="col-12 form-group d-flex align-items-center justify-content-betweenform-group{% if option.required %} required {% endif %}">
                  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                  <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
                </div>
                {% endif %}
                {% if option.type == 'file' %}
                <div class="col-12 form-group d-flex align-items-center justify-content-between{% if option.required %} required {% endif %}">
                  <label class="control-label">{{ option.name }}</label>
                  <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                  <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
                </div>
                {% endif %}
                {% if option.type == 'date' %}
                <div class="col-12 form-group d-flex align-items-center justify-content-between{% if option.required %} required {% endif %}">
                  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                  <div class="input-group date">
                    <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                    </span></div>
                </div>
                {% endif %}
                {% if option.type == 'datetime' %}
                <div class="col-12 form-group d-flex align-items-center justify-content-between{% if option.required %} required {% endif %}">
                  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                  <div class="input-group datetime">
                    <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                    </span></div>
                </div>
                {% endif %}
                {% if option.type == 'time' %}
                <div class="col-12 form-group d-flex align-items-center justify-content-between{% if option.required %} required {% endif %}">
                  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                  <div class="input-group time">
                    <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                    </span></div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if recurrings %}
                <hr>
                <h3>{{ text_payment_recurring }}</h3>
                <div class="col-6 form-group required">
                  <select name="recurring_id" class="form-control">
                    <option value="">{{ text_select }}</option>
                    {% for recurring in recurrings %}
                    <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                    {% endfor %}
                  </select>
                  <div class="help-block" id="recurring-description"></div>
                </div>
                {% endif %}                
                  </div>
                  <div class="button-group">
                    <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                  </div>
                </div>
              </div>
            </div>
{% endfor %}