<div id="cart_view" class="qc-step" data-col="{{ col }}" data-row="{{ row }}"></div>
<script type="text/html" id="cart_template">

	<div class="panel panel-default <%= parseInt(model.config.display) ? '' : 'hidden' %>">
		
        <% if(model.config.title){ %>
        <div class="panel-heading">
			<h4 class="panel-title">
				<span class="icon">
					<i class="<%= model.config.icon %>"></i>
				</span>
				<span class="text"><%= model.config.title %> <%= (model.cart_weight) ? '('+model.cart_weight+')' : '' %></span>
			</h4>
        </div>
        <% } %>

		<div class="qc-checkout-product panel-body" >
			<% if(model.error){ %>
				<% if(model.config_stock_warning){ %>
					<div class="save-alert save-alert-danger">
						<i class="fa fa-exclamation-circle"></i> <%= model.error %>
					</div>
				<% } else { %>
					<div class="alert alert-danger">
						<i class="fa fa-exclamation-circle"></i> <%= model.error %>
					</div>
				<% } %>
			<% } %>

			<div class="form-horizontal">
                <div class="checkout-bonuses mb-3" onclick="$('.checkout-bonuses-element').toggleClass('active')">
                    У меня есть промо-код или сертификат
                </div>            
				<div class="checkout-bonuses-element form-group qc-coupon <% if(model.errors.coupon || model.errors.voucher || model.errors.reward){ %> active<% } %> <%= parseInt(model.config.option.coupon.display) ? '' : 'hidden' %>">
					<% if(model.errors.coupon){ %>
						<div class="col-sm-12">
							<div class="alert alert-danger">
								<i class="fa fa-exclamation-circle"></i> <%= model.errors.coupon %>
							</div>
						</div>
					<% } %>
					<% if(model.successes.coupon){ %>
						<div class="col-sm-12">
							<div class="alert alert-success">
								<i class="fa fa-exclamation-circle"></i> <%= model.successes.coupon %>
							</div>
						</div>
					<% } %>
					<label class="col-sm-12 control-label  text-left" >
						{{ text_use_coupon }} 
					</label>
					<div class="col-sm-12">
						<div class="input-group">
							<input type="text" value="<%= model.coupon ? model.coupon : '' %>" name="coupon" id="coupon" <% if(Number(config.design.placeholder)) {  %>placeholder="{{ text_use_coupon }}" <% } %>  class="form-control"/>
							<span class="input-group-btn">
								<button class="btn btn-primary" id="confirm_coupon" type="button">Применить</button>
							</span>
						</div>
					</div>
					<% _.each(model.coupon, function(voucher) { %>
			        
			        <% }) %>
				</div>
				<div class="checkout-bonuses-element form-group qc-voucher <% if(model.errors.coupon || model.errors.voucher || model.errors.reward){ %> active<% } %> <%= parseInt(model.config.option.voucher.display) ? '' : 'hidden' %>">
					<% if(model.errors.voucher){ %>
						<div class="col-sm-12">
							<div class="alert alert-danger">
								<i class="fa fa-exclamation-circle"></i> <%= model.errors.voucher %>
							</div>
						</div>
					<% } %>
					<% if(model.successes.voucher){ %>
						<div class="col-sm-12">
							<div class="alert alert-success">
								<i class="fa fa-exclamation-circle"></i> <%= model.successes.voucher %>
							</div>
						</div>
					<% } %>

					<label class="col-sm-12 control-label  text-left" >
						{{ text_use_voucher }} 
					</label>
					<div class="col-sm-12">
						<div class="input-group">
							<input type="text" value="<%= model.voucher ? model.voucher : '' %>" name="voucher" id="voucher" <% if(Number(config.design.placeholder)) {  %>placeholder="{{ text_use_voucher }}" <% } %>  class="form-control"/>
							<span class="input-group-btn">
								<button class="btn btn-primary" id="confirm_voucher" type="button">Применить</button>
							</span>
						</div>
					</div>
				</div>
				<% if(model.reward_points) { %>
					<div class="checkout-bonuses-element form-group qc-reward <% if(model.errors.coupon || model.errors.voucher || model.errors.reward){ %> active<% } %> <%= parseInt(model.config.option.reward.display) ? '' : 'hidden' %>">
						<% if(model.errors.reward){ %>
							<div class="col-sm-12">
								<div class="alert alert-danger">
									<i class="fa fa-exclamation-circle"></i> <%= model.errors.reward %>
								</div>
							</div>
						<% } %>
						<% if(model.successes.reward){ %>
							<div class="col-sm-12">
								<div class="alert alert-success">
									<i class="fa fa-exclamation-circle"></i> <%= model.successes.reward %>
								</div>
							</div>
						<% } %>
						<label class="col-sm-12 control-label text-left" >
							<%= model.text_use_reward %>
						</label>
						<div class="col-sm-12">
							<div class="input-group">
								<input type="text" value="<%= model.reward ? model.reward : '' %>" name="reward" id="reward" <% if(Number(config.design.placeholder)) {  %>placeholder="<%= model.text_use_reward %>" <% } %> class="form-control"/>
								<span class="input-group-btn">
									<button class="btn btn-primary" id="confirm_reward" type="button"><i class="fa fa-check"></i></button>
								</span>

							</div>
							<small><%= model.entry_reward %></small>
						</div>

				</div>
				<% } %>
			<div class="preloader row"><img class="icon" src="image/<%= config.general.loader %>" /></div>
            <div class="checkout-bonuses" onclick="$('#confirm_comment_input').toggleClass('active')">
                Оставить комментарий к заказу
            </div> 		
		</div>
	</div>

</script>
<script>
$(function() {
	qc.cart = $.extend(true, {}, new qc.Cart({{ json }}));
	qc.cartView = $.extend(true, {}, new qc.CartView({
		el:$("#cart_view"), 
		model: qc.cart, 
		template: _.template($("#cart_template").html())
	}));

});

</script>