{{ header }}
<div id="checkout-cart">
    <div class="container">
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
      {% if attention %}
      <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div> 
      {% endif %}
      {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <div class="row">{{ column_left }}
        {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
        {% else %}
        {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
          <h1>Информация о заказе</h1>
          <ul class="checkout-nav">
            <li class="active"><span class="number">1</span> Информация о заказе</li>
            <li><span class="number">2</span> Оформление заказа</li>
          </ul>
            <div class="cartpage-products">
                <div class="row mt-3 cart-modal-header align-items-center d-none d-md-flex">
                    <div class="col-md-5 col-lg-5 col-10 order-0"> Товар</div>
                    <div class="col-md-2 col-lg-2 col-4 order-md-2 order-1 py-2 py-md-0 product-qty">Количество</div>
                    <div class="offset-md-1 col-md-2 col-lg-2 col-4 order-md-4 order-1 product-price">Цена</div>
                    <div class="col-md-2 col-lg-2 col-4 order-md-5 order-1 product-total">Сумма</div>
                </div> 
                
                {% for product in products %}
                <div class="row mt-3 align-items-center {% if not product.stock %}not-in-stock{% endif %}">
                  <div class="col-md-2 col-lg-1 col-3 order-0 product-img p-0">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a>{% endif %}</div>
                  <div class="col-md-3 col-lg-4 col-7 product-name order-0"><a href="{{ product.href }}">{{ product.name }}</a>{% if product.option %}{% for option in product.option %}, <small>{{ option.value }}</small> {% endfor %}
                    {% endif %}
                  </div>
                  <div class="col-md-2 col-lg-2 col-4 order-md-2 order-1 py-2 py-md-0 product-qty">
                            <div class="col-12 form-group d-flex align-items-center justify-content-between">
                                <div class="input-qty">
                                    <div class="input-qty-btn minus"></div>
                                    <input type="text" class="input-qty-field" name="quantity" value="{{ product.quantity }}" size="2" id="input-quantity" onchange="cart.update('{{ product.cart_id }}', this.value);">
                                    <div class="input-qty-btn plus"></div> 
                                </div>
                            </div>
                  </div>
                  <div class="col-1 text-center order-md-3 order-0 produt-rm"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-rm"></button></div>
                  <div class="col-md-2 col-lg-2 col-4 order-md-4 order-1 product-price">{{ product.cost }}</div>
                  <div class="col-md-2 col-lg-2 col-4 order-md-5 order-1 product-total">{{ product.total }}</div>
                </div>
                {% endfor %}
            </div>
            
                <div class="row mt-3 align-items-center my-3 cart-totals-row">
                    <div class="col-md-3 offset-md-1 col-7 total-name order-0">
                        {{ totals[0].title }}
                    </div>
                    <div class="col-md-2 col-4 offset-md-6 order-md-5 order-1 cart-total" id="cartpage-total-sum">{{ totals[0].text }}</div>
                </div>     
                <div class="row text-center">
                    <div class="col-12">
                        <a class="btn btn-secondary" href="{{ continue }}">{{ button_shopping }}</a>
                        <a class="btn btn-primary" href="{{ checkout }}">{{ button_checkout }}</a>
                    </div>
                </div>
          {{ content_bottom }}</div>
        {{ column_right }}</div>
    </div>
</div>
{{ footer }} 
