{{ header }} 
<div id="checkout-checkout">
    <div class="container">
      <ul class="breadcrumb qc-breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb.href }} ">{{ breadcrumb.text }} </a></li>
        {% endfor %} 
      </ul>
      {% if error_warning %} 
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %} 
      <div class="row">{{ column_left }} 
        {% if column_left  and  column_right %} 
        {% set class = 'col-sm-6' %}
        {% elseif  column_left  or  column_right %} 
        {% set class = 'col-sm-9' %}
         {% else %}   
        {% set class = 'col-sm-12' %}
          {% endif %}
        <div id="content" class="{{ class }} ">
            <h1>Оформление заказа</h1>
            <ul class="checkout-nav">
                <li><span class="number">1</span> Информация о заказе</li>
                <li class="active"><span class="number">2</span> Оформление заказа</li>
            </ul>    
        {{ content_top }} 

    <!-- Quick Checkout v4.0 by Dreamvention.com checkout/quickcheckout -->
      {{ d_quickcheckout }} 

          {{ content_bottom }} </div>
        {{ column_right }} </div>
    </div>
</div>
{{ footer }} 