{{ header }}
<div id="product-product" class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li>
				<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
			</li>
		{% endfor %}
	</ul>
	<div class="row">{{ column_left }}
		<div id="content" class="container">
			<div class="row">
				<div class="col-md-6">
					{% if thumb or images %}
						<div class="big-images">
							{% if thumb %}
								<div><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"/></div>
							{% endif %}
							{% if images %}
								{% for image in images %}
									<div class="image-additional"><img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"/></div>
								{% endfor %}
							{% endif %}
						</div>
						{% if images %}
							<ul class="thumbnails">
								{% if thumb %}
									<li>
										<a class="thumbnail" href="{{ popup }}" title="{{ heading_title }}"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"/></a>
									</li>
								{% endif %}
								{% for image in images %}
									<li class="image-additional">
										<a class="thumbnail" href="{{ image.popup }}" title="{{ heading_title }}">
											<img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"/></a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					{% endif %}
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="row product-title-row">
							<div class="col-md-8">
								<h1>{{ heading_title }}</h1>
							</div>
							<div class="col-md-4 product-page-price">
								{% if not special %}
									{{ price }}
								{% else %}
									{{ price }}{{ special }}
								{% endif %}/кг
							</div>
						</div>

						<div id="product" class="row product-params">
							<div class="col-lg-6 form-group d-flex align-items-center">
								<label class="control-label me-2" for="input-quantity">{{ entry_qty }}</label>
								<div class="input-qty">
									<div class="input-qty-btn minus"></div>
									<input type="text" class="input-qty-field" name="quantity" value="{{ minimum }}" size="2" id="input-quantity">
									<div class="input-qty-btn plus"></div>
								</div>
								<input type="hidden" name="product_id" value="{{ product_id }}"/>
							</div>
							{% if options %}
								{% for option in options %}
									{% if option.type == 'select' %}
										<div class="col-lg-6 form-group{% if option.required %} required {% endif %} d-flex align-items-center">
											<label class="control-label me-2" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
											<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
												{% for option_value in option.product_option_value %}
													<option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
													</option>
												{% endfor %}
											</select>
										</div>
									{% endif %}
									{% if option.type == 'radio' %}
										<div class="col-lg-6 form-group{% if option.required %} required {% endif %} d-flex align-items-center">
											<label class="control-label me-2">{{ option.name }}</label>
											<div id="input-option{{ option.product_option_id }}">
												{% for option_value in option.product_option_value %}
													<div class="radio">
														<label>
															<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}"/>
															{% if option_value.image %}
																<img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail"/>
															{% endif %}
															{{ option_value.name }}
															{% if option_value.price %}
																({{ option_value.price_prefix }}{{ option_value.price }})
															{% endif %}
														</label>
													</div>
												{% endfor %}
											</div>
										</div>
									{% endif %}
									{% if option.type == 'checkbox' %}
										<div class="col-lg-6 form-group{% if option.required %} required {% endif %} d-flex align-items-center">
											<label class="control-label me-2">{{ option.name }}</label>
											<div id="input-option{{ option.product_option_id }}">
												{% for option_value in option.product_option_value %}
													<div class="checkbox">
														<label>
															<input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}"/>
															{% if option_value.image %}
																<img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail"/>
															{% endif %}
															{{ option_value.name }}
															{% if option_value.price %}
																({{ option_value.price_prefix }}{{ option_value.price }})
															{% endif %}
														</label>
													</div>
												{% endfor %}
											</div>
										</div>
									{% endif %}
									{% if option.type == 'text' %}
										<div class="col-lg-6 form-group{% if option.required %} required {% endif %} d-flex align-items-center">
											<label class="control-label me-2" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
											<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control"/>
										</div>
									{% endif %}
									{% if option.type == 'textarea' %}
										<div class="col-lg-6 form-group{% if option.required %} required {% endif %} d-flex align-items-center">
											<label class="control-label me-2" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
											<textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
										</div>
									{% endif %}
									{% if option.type == 'file' %}
										<div class="col-lg-6 form-group{% if option.required %} required {% endif %} d-flex align-items-center">
											<label class="control-label me-2">{{ option.name }}</label>
											<button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block">
												<i class="fa fa-upload"></i>
												{{ button_upload }}</button>
											<input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}"/>
										</div>
									{% endif %}
									{% if option.type == 'date' %}
										<div class="col-lg-6 form-group{% if option.required %} required {% endif %} d-flex align-items-center">
											<label class="control-label me-2" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
											<div class="input-group date">
												<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control"/>
												<span class="input-group-btn">
													<button class="btn btn-default" type="button">
														<i class="fa fa-calendar"></i>
													</button>
												</span>
											</div>
										</div>
									{% endif %}
									{% if option.type == 'datetime' %}
										<div class="col-lg-6 form-group{% if option.required %} required {% endif %} d-flex align-items-center">
											<label class="control-label me-2" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
											<div class="input-group datetime">
												<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control"/>
												<span class="input-group-btn">
													<button type="button" class="btn btn-default">
														<i class="fa fa-calendar"></i>
													</button>
												</span>
											</div>
										</div>
									{% endif %}
									{% if option.type == 'time' %}
										<div class="col-lg-6 form-group{% if option.required %} required {% endif %} d-flex align-items-center">
											<label class="control-label me-2" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
											<div class="input-group time">
												<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control"/>
												<span class="input-group-btn">
													<button type="button" class="btn btn-default">
														<i class="fa fa-calendar"></i>
													</button>
												</span>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% if recurrings %}
								<hr>
								<h3>{{ text_payment_recurring }}</h3>
								<div class="col-lg-6 form-group required">
									<select name="recurring_id" class="form-control">
										<option value="">{{ text_select }}</option>
										{% for recurring in recurrings %}
											<option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
										{% endfor %}
									</select>
									<div class="help-block" id="recurring-description"></div>
								</div>
							{% endif %}
							<div class="row py-4 align-items-center">
								<div class="col-6">
									{{ stock }}
								</div>
								<div class="col-6">
									<button type="button" id="button-cart" data-loading-text="{{ text_loading }}">{{ button_cart }}</button>
								</div>
							</div>
						</div>
						<ul class="list-unstyled">
							<li>{{ text_model }}
								<b>{{ model }}</b>
							</li>
							{% if manufacturer %}
								<li>{{ text_manufacturer }}
									<b>{{ manufacturer }}</b>
								</li>
							{% endif %}
							{% if reward %}
								<li>{{ text_reward }}
									{{ reward }}</li>
							{% endif %}
						</ul>
						<div class="product-page-desc">{{ description }}</div>
					</div>
				</div>
			</div>
			{% if tags %}
				<p>{{ text_tags }}
					{% for i in 0..tags|length - 1 %}
						{% if i < (tags|length - 1) %}
							<a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
						{% else %}
							<a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>
						{% endif %}
					{% endfor %}
				</p>
			{% endif %}
			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{% if products %}
	<div id="related-products">
		<div class="related-products-inner container">
			<h3>{{ text_related }}</h3>
			<div class="row">
				{% set i = 0 %}
				{% for product in products %}
					<div id="product-{{ product.product_id }}" class="product-layout product-grid col-md-6 col-lg-4 {{ product.cats }}">
						<div class="product-thumb">
							<div class="image">
								<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/></a>
							</div>
							<div class="product-card-info">
								<div class="row product-card-topinfo">
									<div class="col-7 product-card-name">
										<a href="{{ product.href }}">{{ product.name }}</a>
									</div>
									<div class="col-5 product-card-price text-md-right">
										{% if product.price %}
											{% if not product.special %}
												{{ product.price }}
											{% else %}
												<span class="price-new">{{ product.special }}</span>
												<span class="price-old">{{ product.price }}</span>
											{% endif %}
											{% if product.tax %}
												<span class="price-tax">{{ text_tax }}
													{{ product.tax }}</span>
											{% endif %}
										{% endif %}/кг
									</div>
								</div>
								<div class="product-card-desc">{{ product.description }}</div>
								<div class="product-params">
									<div class="col-12 form-group d-flex align-items-center justify-content-between">
										<label class="control-label me-2" for="input-quantity">Количество</label>
										<div class="input-qty">
											<div class="input-qty-btn minus"></div>
											<input type="text" class="input-qty-field" name="quantity" value="1" size="2" id="input-quantity">
											<div class="input-qty-btn plus"></div>
										</div>
										<input type="hidden" name="product_id" value="{{ product.product_id }}"/>
									</div>
									{% if product.options %}
										{% for option in product.options %}
											{% if option.type == 'select' %}
												<div class="col-12 form-group d-flex align-items-center justify-content-between {% if option.required %} required {% endif %}">
													<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
													<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
														{% for option_value in option.product_option_value %}
															<option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}</option>
														{% endfor %}
													</select>
												</div>
											{% endif %}
											{% if option.type == 'radio' %}
												<div class="col-12 form-group d-flex align-items-center justify-content-between{% if option.required %} required {% endif %}">
													<label class="control-label">{{ option.name }}</label>
													<div id="input-option{{ option.product_option_id }}">
														{% for option_value in option.product_option_value %}
															<div class="radio">
																<label>
																	<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}"/>
																	{% if option_value.image %}
																		<img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail"/>
																	{% endif %}
																	{{ option_value.name }}
																	{% if option_value.price %}
																		({{ option_value.price_prefix }}{{ option_value.price }})
																	{% endif %}
																</label>
															</div>
														{% endfor %}
													</div>
												</div>
											{% endif %}
											{% if option.type == 'checkbox' %}
												<div class="col-12 form-group d-flex align-items-center justify-content-between{% if option.required %} required {% endif %}">
													<label class="control-label">{{ option.name }}</label>
													<div id="input-option{{ option.product_option_id }}">
														{% for option_value in option.product_option_value %}
															<div class="checkbox">
																<label>
																	<input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}"/>
																	{% if option_value.image %}
																		<img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail"/>
																	{% endif %}
																	{{ option_value.name }}
																	{% if option_value.price %}
																		({{ option_value.price_prefix }}{{ option_value.price }})
																	{% endif %}
																</label>
															</div>
														{% endfor %}
													</div>
												</div>
											{% endif %}
											{% if option.type == 'text' %}
												<div class="col-12 form-group d-flex align-items-center justify-content-between{% if option.required %} required {% endif %}">
													<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
													<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control"/>
												</div>
											{% endif %}
											{% if option.type == 'textarea' %}
												<div class="col-12 form-group d-flex align-items-center justify-content-betweenform-group{% if option.required %} required {% endif %}">
													<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
													<textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
												</div>
											{% endif %}
											{% if option.type == 'file' %}
												<div class="col-12 form-group d-flex align-items-center justify-content-between{% if option.required %} required {% endif %}">
													<label class="control-label">{{ option.name }}</label>
													<button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block">
														<i class="fa fa-upload"></i>
														{{ button_upload }}</button>
													<input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}"/>
												</div>
											{% endif %}
											{% if option.type == 'date' %}
												<div class="col-12 form-group d-flex align-items-center justify-content-between{% if option.required %} required {% endif %}">
													<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
													<div class="input-group date">
														<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control"/>
														<span class="input-group-btn">
															<button class="btn btn-default" type="button">
																<i class="fa fa-calendar"></i>
															</button>
														</span>
													</div>
												</div>
											{% endif %}
											{% if option.type == 'datetime' %}
												<div class="col-12 form-group d-flex align-items-center justify-content-between{% if option.required %} required {% endif %}">
													<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
													<div class="input-group datetime">
														<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control"/>
														<span class="input-group-btn">
															<button type="button" class="btn btn-default">
																<i class="fa fa-calendar"></i>
															</button>
														</span>
													</div>
												</div>
											{% endif %}
											{% if option.type == 'time' %}
												<div class="col-12 form-group d-flex align-items-center justify-content-between{% if option.required %} required {% endif %}">
													<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
													<div class="input-group time">
														<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control"/>
														<span class="input-group-btn">
															<button type="button" class="btn btn-default">
																<i class="fa fa-calendar"></i>
															</button>
														</span>
													</div>
												</div>
											{% endif %}
										{% endfor %}
									{% endif %}
									{% if recurrings %}
										<hr>
										<h3>{{ text_payment_recurring }}</h3>
										<div class="col-6 form-group required">
											<select name="recurring_id" class="form-control">
												<option value="">{{ text_select }}</option>
												{% for recurring in recurrings %}
													<option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
												{% endfor %}
											</select>
											<div class="help-block" id="recurring-description"></div>
										</div>
									{% endif %}
								</div>
								<div class="button-group">
									<button type="button" onclick="cart.add('{{ product.product_id }}');">
										<i class="fa fa-shopping-cart"></i>
										<span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span>
									</button>
								</div>
							</div>
						</div>
					</div>
					{% if column_left and column_right and (i + 1) % 2 == 0 %}
						<div class="clearfix visible-md visible-sm"></div>
					{% elseif column_left or column_right and (i + 1) % 3 == 0 %}
						<div class="clearfix visible-md"></div>
					{% elseif (i + 1) % 4 == 0 %}
						<div class="clearfix visible-md"></div>
					{% endif %}
					{% set i = i + 1 %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
<script
	type="text/javascript">
	<!--
	$('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
$.ajax({
url: 'index.php?route=product/product/getRecurringDescription',
type: 'post',
data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
dataType: 'json',
beforeSend: function () {
$('#recurring-description').html('');
},
success: function (json) {
$('.alert-dismissible, .text-danger').remove();

if (json['success']) {
$('#recurring-description').html(json['success']);
}
}
});
});
//
	-->
</script>
<script
	type="text/javascript">
	<!--
	$('#button-cart').on('click', function () {
$.ajax({
url: 'index.php?route=checkout/cart/add',
type: 'post',
data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
dataType: 'json',
beforeSend: function () {
$('#button-cart').button('loading');
},
complete: function () {
$('#button-cart').button('reset');
},
success: function (json) {
$('.alert-dismissible, .text-danger').remove();
$('.form-group').removeClass('has-error');

if (json['error']) {
if (json['error']['option']) {
for (i in json['error']['option']) {
var element = $('#input-option' + i.replace('_', '-'));

if (element.parent().hasClass('input-group')) {
element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
} else {
element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
}
}
}

if (json['error']['recurring']) {
$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
}

// Highlight any found errors
$('.text-danger').parent().addClass('has-error');
}

if (json['success']) {
{
					setTimeout(function () {
						$('#cart-total').html(json['total']);
                        $('#cart-total-sum').html(json['total_summ']);
                        
                        if (!json['total_summ'])
                            $('#cart-total .cart-totals-row').hide();
                        else
                            $('#cart-total .cart-totals-row').show();
					}, 100);
}

                updateModal(json);
                cartModal.show();

$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

$('html, body').animate({
scrollTop: 0
}, 'slow');

$('#cart > ul').load('index.php?route=common/cart/info ul li');
}
},
error: function (xhr, ajaxOptions, thrownError) {
alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
}
});
});
//
	-->
</script>
<script
	type="text/javascript">
	<!--
	$('.date').datetimepicker({language: '{{ datepicker }}', pickTime: false});

$('.datetime').datetimepicker({language: '{{ datepicker }}', pickDate: true, pickTime: true});

$('.time').datetimepicker({language: '{{ datepicker }}', pickDate: false});

$('button[id^=\'button-upload\']').on('click', function () {
var node = this;

$('#form-upload').remove();

$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

$('#form-upload input[name=\'file\']').trigger('click');

if (typeof timer != 'undefined') {
clearInterval(timer);
}

timer = setInterval(function () {
if ($('#form-upload input[name=\'file\']').val() != '') {
clearInterval(timer);

$.ajax({
url: 'index.php?route=tool/upload',
type: 'post',
dataType: 'json',
data: new FormData($('#form-upload')[0]),
cache: false,
contentType: false,
processData: false,
beforeSend: function () {
$(node).button('loading');
},
complete: function () {
$(node).button('reset');
},
success: function (json) {
$('.text-danger').remove();

if (json['error']) {
$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
}

if (json['success']) {
alert(json['success']);

$(node).parent().find('input').val(json['code']);
}
},
error: function (xhr, ajaxOptions, thrownError) {
alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
}
});
}
}, 500);
});
//
	-->
</script>
<script
	type="text/javascript">
	<!--
	$('#review').delegate('.pagination a', 'click', function (e) {
e.preventDefault();

$('#review').fadeOut('slow');

$('#review').load(this.href);

$('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id=    {{ product_id }}');

$('#button-review').on('click', function () {
$.ajax({
url: 'index.php?route=product/product/write&product_id=    {{ product_id }}',
type: 'post',
dataType: 'json',
data: $("#form-review").serialize(),
beforeSend: function () {
$('#button-review').button('loading');
},
complete: function () {
$('#button-review').button('reset');
},
success: function (json) {
$('.alert-dismissible').remove();

if (json['error']) {
$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
}

if (json['success']) {
$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

$('input[name=\'name\']').val('');
$('textarea[name=\'text\']').val('');
$('input[name=\'rating\']:checked').prop('checked', false);
}
}
});
});

$(document).ready(function () {
$('.thumbnails').magnificPopup({
type: 'image',
delegate: 'a',
gallery: {
enabled: true
}
});
});
//
	-->
</script>
{{ footer }}
