* {
  --main-color: #143c67;
  --hover-color: #ff7c43;
  --border-color: #c7c9ce;
  --footer-bottom-bg: #07284c;
  --footer-color: #dadaed;
  --max-wid: 1800px;
  --gray-bg: #f6f7fa;
  --main-dark: #222d44;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
}
/* default font size */
.fa {
  font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
  font-size: 33px;
}
h2 {
  font-size: 27px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10.2px;
}
a {
  color: #23a1d1;
}
a:hover {
  text-decoration: none;
}
legend {
  font-size: 18px;
  padding: 7px 0px;
}
label {
  font-size: 12px;
  font-weight: normal;
}
select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
  font-size: 12px;
}
.input-group input,
.input-group select,
.input-group .dropdown-menu,
.input-group .popover {
  font-size: 12px;
}
.input-group .input-group-addon {
  font-size: 12px;
  height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs,
span.hidden-sm,
span.hidden-md,
span.hidden-lg {
  display: inline;
}

.nav-tabs {
  margin-bottom: 15px;
}

/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
}
/* top */
#top {
  background-color: #143c67;
}

.is-home #top {
  background-color: #fff;
}
.product-params,
.product-params .form-control,
.product-params input {
  color: var(--main-dark);
}
.product-params input {
  outline: none;
}
.product-params > div {
  margin-bottom: 10px;
}

.product-params label {
  font-size: 16px;
}

.product-params .nice-select ul {
  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
  top: -5px;
  left: -1px;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border: solid 1px #e8e8e8;
  box-shadow: unset;
}

.nice-select:after {
  content: "";
  background: url(/image/catalog/downArrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 17px;
  right: 20px;
  position: absolute;
  transform: unset;
  border: unset;
}

.product-params .nice-select,
.product-params .nice-select ul {
  width: 210px;
  font-size: 16px;
  font-weight: 700;
  text-align: center !important;
  line-height: 28px;
  border-radius: 0;
}

.product-params .nice-select ul li {
  text-align: center !important;
}

/* logo */
#logo {
  margin: 0 0 10px 0;
}
#logo h1 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: -5px;
}
/* search */
#search {
  margin-bottom: 10px;
}
#search .input-lg {
  height: 40px;
  line-height: 20px;
  padding: 0 10px;
}
#search .btn-lg {
  font-size: 15px;
  line-height: 18px;
  padding: 10px 35px;
  text-shadow: 0 1px 0 #fff;
}
/* cart */
#cart {
  position: relative;
}

#cart span {
  min-width: 14px;
  height: 14px;
  color: #fff;
  font-size: 10px;
  background: #ff7c43;
  position: absolute;
  line-height: 12px;
  border-radius: 50%;
  text-align: center;
  top: 0;
  left: 15px;
}
/* home header block */
.is-home .home-header-block {
  height: 300px;
  position: relative;
  background: url(/image/catalog/bannerBg.png);
  background-size: cover;
  margin-top: 190px;
}

.is-home .home-header-block:after {
  content: "";
  position: absolute;
  height: 350px;
  width: 350px;
  background: url(/image/catalog/brandLogo.png);
  background-size: contain;
  left: calc(50% - 175px);
  top: -150px;
}

.is-home .home-header-block:before {
  content: "";
  height: 50px;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    180deg,
    #ffae8b 0%,
    #ff9363 17.42%,
    #ff7c43 32.52%,
    #ff7c43 52.83%,
    #c86a40 76.27%,
    #83523d 99.18%
  );
}

@media (max-width: 768px) {
  .is-home .home-header-block {
    height: 150px;
    margin-top: 70px;
  }

  .is-home .home-header-block:after {
    height: 180px;
    width: 180px;
    top: -75px;
    left: calc(50% - 90px);
  }
}

/* menu */
#menu .navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}

#menu .dropdown-menu:before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  transform: rotate(45deg);
  top: -6px;
  left: 20px;
  background: #fff;
}

#menu .dropdown-menu {
  box-shadow: 0px 0px 10px rgba(165, 167, 170, 0.7);
}

#menu .dropdown-menu a {
  font-size: 14px;
  color: #143c67;
  line-height: 2;
}

#menu .dropdown-menu a:hover {
  color: #ff7c43;
  background: #fff;
}

#top a,
#header-contacts-container,
#header-contacts-container a {
  color: #fff;
}

.is-home #top a,
.is-home #header-contacts-container,
.is-home #header-contacts-container a {
  color: #143c67;
}

.navbar-nav > li > a {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.navbar-nav > li > a:hover {
  color: #ff7c43 !important;
  border-bottom: 1px solid #ff7c43;
}

/* .navbar-nav > .nav-item:hover {
  border-bottom: 1px solid #ff7c43;
} */
.dropdown-toggle::after {
  content: unset;
}

#header-contacts-container {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 14px;
  justify-content: space-evenly;
}

#header-contacts-container a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

#header-contacts-container img {
  margin-right: 5px;
}

#header-contacts-container .header-contacts-clock {
  border-left: 1px solid #c7c9ce;
  padding: 0 22px;
}

#header-contacts-container .header-contacts-phone {
  border-right: 1px solid #c7c9ce;
  padding: 0 22px;
}

#header-cart-container {
  padding: 15px 10px;
}

@media (max-width: 550px) {
  #header-contacts-container .header-contacts-clock,
  #header-contacts-container .header-contacts-phone {
    border: none;
  }
}

/* sidebar */

.sidebar-container {
  position: fixed;
  width: 220px;
  height: 100%;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #ff7c43;
  color: #fff;
  z-index: 5;
  box-shadow: 9px 3px 23px 0px rgb(34 60 80 / 20%);
}

.content-container {
  padding-top: 20px;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 20px;
  background-color: #2574a9;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #fff!important;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #e06e3c;
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation .nav-link:focus,
.sidebar-navigation .nav-link:hover {
  color: #fff;
}

.sidebar-navigation .dropdown-menu {
  position: relative !important;
  transform: none !important;
}

.sidebar-navigation {
  border-bottom: 1px solid #fdbea2;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #151515;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.content-container {
  padding-left: 220px;
}

.sidebar-container .dropdown-menu {
  background: #f06a30;
  border: none;
  width: 100%;
  margin: 0;
}

@media (min-width: 992px) {
  .sidebar-container {
    display: none;
  }
}

/* banner-nav-home */
#common-home > .row {
  margin: 0;
}
#banner-nav-home {
  padding: 160px 30px;
  background: url(/image/catalog/GroupleftCrab.png) no-repeat 0 85px,
    url(/image/catalog/GrouprightCrab.png) no-repeat right bottom;
}
.about-slider-wrapper, #parthers {
  background: url(/image/catalog/GroupleftCrab.png) no-repeat left center,
    url(/image/catalog/about-us-right-bg.png) no-repeat right center;
}

#banner-nav-home .col-8 {
  position: relative;
}

#banner-nav-home .col-8 img {
  width: 100%;
}

#banner-nav-home.state1 .col-8 img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#banner-nav-home.state1 .col-8 img:first-child {
  opacity: 1;
}

#banner-nav-home.state2 .col-8 img:not(:nth-child(2)) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#banner-nav-home.state2 .col-8 img:nth-child(2) {
  opacity: 1;
}

#banner-nav-home.state3 .col-8 img:not(:nth-child(3)) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#banner-nav-home.state3 .col-8 img:nth-child(3) {
  opacity: 1;
}

#banner-nav-home .col-2 {
  position: relative;
}

#banner-nav-home .col-2 ul {
  list-style: none;
}

#banner-nav-home .col-2 ul li a {
  position: relative;
  color: #143c67;
  display: block;
  width: 100px;
  height: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100px;
  text-align: center;
  border: 2px solid #ff7c43;
  border-radius: 50%;
  z-index: 1;
  text-decoration: none;
}

#banner-nav-home .col-2 ul li:nth-child(1) {
  position: absolute;
  left: -160px;
  top: -100px;
}

#banner-nav-home .col-2:first-child ul li:nth-child(1) {
  left: 195px;
}

#banner-nav-home .col-2 ul li:nth-child(2) {
  position: absolute;
  left: -10px;
  top: 115px;
}

#banner-nav-home .col-2:first-child ul li:nth-child(2) {
  left: 95px;
}

#banner-nav-home .col-2 ul li:nth-child(3) {
  position: absolute;
  left: -180px;
  top: 280px;
}

#banner-nav-home .col-2:first-child ul li:nth-child(3) {
  left: 235px;
}

#banner-nav-home .col-2 ul li:last-child a {
  width: 120px;
  height: 120px;
  line-height: 120px;
}

#banner-nav-home .col-2 ul li a:hover {
  background: #ff7c43;
  color: #fff;
}

/* about-us-home */
#about-us-home {
  background: #f6f7fa;
}
#about-us-home p {
  color: var(--main-dark);
}
#about-us-home .col-md-6:first-child {
  padding: 0;
}

#about-us-home .col-md-6:first-child img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

#about-us-home .col-md-6:last-child {
  padding: 50px 150px 60px 50px;
}

#about-us-home h2 {
  font-size: 50px;
  position: relative;
  margin-bottom: 45px;
  margin-top: 0px;
  color: #143c67;
  font-weight: 700;
}

#about-us-home p {
  margin-bottom: 25px;
}

#information-contact .breadcrumb {
    padding-left: 30px;
    padding-right: 30px;
}

#checkout-cart .not-in-stock .img-thumbnail {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#checkout-cart .not-in-stock {
    background: #ffece4;
    border-radius: 10px;
}

#checkout-cart .breadcrumb,
#checkout-checkout .breadcrumb {
    margin-top: 0;
    padding-top: 37px;
}

#checkout-cart .input-qty .input-qty-field {
    background: transparent;
}

#checkout-cart .input-qty .input-qty-btn {
    background: #fff;
}

#information-contact h1,
#checkout-cart h1,
#checkout-checkout h1 {
    text-align: center;
    position: relative;
    font-size: 50px;
    font-weight: bold;
    color: #143C67;
    margin-bottom: 60px;
}


#about-us-home h2:after,
#information-contact h1:after,
#checkout-cart h1:after,
#checkout-checkout h1:after {
  content: "";
  position: absolute;
  font-size: 50px;
  width: 64px;
  border: 2px solid #ff7c43;
  bottom: -15px;
  left: 0;
  background: #ff7c43;
}

#related-products h3:after {
  content: "";
  position: absolute;
  width: 200px;
  border: 2px solid #ff7c43;
  left: calc(50% - 100px);
  bottom: -8px;
}

#product-category h1:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 144px;
  border: 2px solid #ff7c43;
  left: calc(50% - 72px);
  background: #ff7c43;
}

#checkout-cart #content {
    padding-bottom: 200px;
}

#checkout-cart {
    background: #F6F7FA;
}

#information-contact h1:after {
    left: calc(50% - 32px);
}

#checkout-cart h1:after,
#checkout-checkout h1:after {
    width: 200px;
    left: calc(50% - 100px);
}

@media (max-width: 550px) {
  #about-us-home .col-md-6:last-child {
    padding: 25px 50px 25px 25px;
  }

  #about-us-home .col-md-6:first-child img {
    max-height: 250px;
  }
}
/* content */
#content {
  min-height: 600px;
}
/* footer */
footer {
  padding-top: 35px;
  background-color: #143c67;
}
footer > .container {
  padding-bottom: 40px;
}
.footer-copyright {
  color: #dadaed;
  background: #07284c;
  padding: 20px 0;
}
footer a {
  color: #ccc;
}
footer a:hover {
  color: #fff;
}
footer h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
.footer-social {
  display: flex;
  margin-top: 5px;
}
.footer-social > div:first-child {
  margin-right: 20px;
}

/* breadcrumb */
.breadcrumb {
  margin-top: 37px;
}

.breadcrumb > li {
  text-shadow: 0 1px 0 #fff;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
}
.breadcrumb > li + li:before {
  content: "";
  padding: 0;
}

.breadcrumb > li {
  padding: 0;
}

.breadcrumb > li a {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 16px;
  color: #143c67;
  text-decoration: none;
  font-weight: 600;
}

#product-category .breadcrumb > li a {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.breadcrumb > li:first-child a {
  margin-left: 0;
}
.breadcrumb > li:not(:last-child) a {
  color: #ff7c43;
}
.breadcrumb > li:last-child a {
  text-transform: uppercase;
  color: var(--main-dark);
}
.breadcrumb > li:not(:last-child):after {
  content: "/";
}
html[dir="rtl"] .breadcrumb > li::after {
  top: -3px;
  left: -5px;
  width: 26px;
  height: 26px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  right: unset;
  border-right: unset;
  border-bottom: unset;
}
.pagination {
  margin: 0;
}

.product-category-container {
  background: url(/image/catalog/catalog-right-image-bg1.png) repeat-y right top,
    url(/image/catalog/catalog-left-image-bg1.png) repeat-y left top;
  background-size: 160px, 190px;
}

#product-catalog-desc {
  color: #222d44;
  padding: 100px 0;
  background: #f6f7fa;
  margin-top: 100px;
}

.subcategory-filter {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #143c67;
  margin-bottom: 40px;
  margin-top: 16px;
}

.subcategory-filter li {
  padding: 15px 45px;
  border: 1px solid #143c67;
  border-bottom: none;
  bottom: 0px;
  position: relative;
  border-color: #c7c9ce;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #143c67;
  z-index: 0;
}
.subcategory-filter li.active {
  bottom: -1px;
}

.subcategory-filter li:not(:last-child) {
  margin-right: 10px;
}

.subcategory-filter li.active {
  border-color: #143c67;
  border-bottom: 1px solid #fff;
  z-index: 0;
}

#product-catalog-desc p {
  font-size: 16px;
  line-height: 22px;
}

#product-catalog-desc h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 45px;
}

#product-category h1 {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: #143c67;
  position: relative;
}

/* buttons */
.buttons {
  margin: 1em 0;
}
.btn {
  padding: 7.5px 12px;
  font-size: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-xs {
  font-size: 9px;
}
.btn-sm {
  font-size: 10.2px;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 15px;
}
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 12px;
}
.btn-group > .btn-xs {
  font-size: 9px;
}
.btn-group > .btn-sm {
  font-size: 10.2px;
}
.btn-group > .btn-lg {
  font-size: 15px;
}
.btn-default {
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #e7e7e7;
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border-color: #1f90bb #1f90bb #145e7a;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #143c67!important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #1f90bb;
  background-position: 0 -15px;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #df5c39;
  background-image: linear-gradient(to bottom, #e06342, #dc512c);
  background-repeat: repeat-x;
  border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-image: none;
  background-color: #df5c39;
}
.btn-link {
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #23a1d1;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  box-shadow: none;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
  border: 1px solid #dddddd;
  color: #888888;
  padding: 8px 12px;
}
.list-group a.active,
.list-group a.active:hover,
.list-group a:hover {
  color: #444444;
  background: #eeeeee;
  border: 1px solid #dddddd;
  text-shadow: 0 1px 0 #fff;
}
/* carousel */
.carousel-caption {
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
  content: "\f053";
  font-family: FontAwesome;
}
.carousel-control .icon-next:before {
  content: "\f054";
  font-family: FontAwesome;
}
/* product list */
.product-thumb {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  overflow: unset;
}
.product-thumb .image {
  text-align: center;
}
.product-thumb .image a {
  display: block;
  width: 100%;
  height: 100%;
}
.product-thumb .image a:hover {
  opacity: 0.8;
}
.product-thumb .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
    .product-thumb .image img {
      max-width: 350px;
      max-height: 350px;
    }
    
    #checkout-cart .not-in-stock .img-thumbnail {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0;
    }    
}

.product-card-info {
  padding: 27px;
  background: #fff;
}

.product-card-name a {
  font-size: 22px;
  line-height: 34px;
  text-decoration: none;
  font-weight: 700;
  color: #222d44;
}

.product-card-price {
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  font-style: italic;
  color: var(--main-dark);
}

.product-card-price span {
  color: #ff7c43;
  font-size: 36px;
  line-height: 49px;
  display: block;
  font-weight: 700;
  font-style: normal;
}

.product-thumb > .product-card-topinfo {
    padding: 27px;
}

.product-card-info .product-card-topinfo {
  margin-bottom: 30px;
}

.product-grid .product-thumb .image {
  float: none;
}

#product-product {
  padding-bottom: 80px;
}

#product-product #content {
  margin-top: 65px;
  color: var(--main-dark);
}

#product-product #content h1 {
  font-size: 32px;
  line-height: 50px;
  font-weight: 700;
  color: var(--main-dark);
  max-width: 360px;
  margin-bottom: 0px;
}
.product-title-row {
  align-items: flex-end;
  margin-bottom: 27px;
}

.stock {
  padding: 6px 44px;
  border: 1px solid;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

#button-cart {
  width: 100%;
  padding: 12px 0;
  text-align: center;
  background: #ff7c43;
  border: 0;
  color: #fff;
}

.input-qty {
  display: flex;
  width: 120px;
}

.sidebar-navigation-close {
    position: absolute;
    right: 5px;
    top: 5px;
    background: #fff;
    z-index: 10;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ff7c43;
}

#checkout-checkout {
    background: #F6F7FA;
}

.checkout-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;    
    margin-bottom: 30px;    
}

.checkout-nav li:not(:last-child) {
    margin-right: 32px;
}

.checkout-nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
}

.checkout-nav li span.number {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ff7c43;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 700;
    color: #FF7C43;
    margin-right: 15px;
}

.checkout-nav li.active span.number {
    color: #fff;
    background: #FF7C43;
}

.checkout-nav li.active {
    color: #FF7C43;
}

.input-qty-btn:before,
.input-qty-btn:after,
.btn-rm:before,
.btn-rm:after,
.sidebar-navigation-close:before,
.sidebar-navigation-close:after {
  content: "";
  width: 15px;
  border-bottom: 1px solid #919191;
  position: absolute;
  left: calc(50% - 7.5px);
  top: 50%;
}
.input-qty-btn.plus:after {
  transform: rotate(90deg);
}

.sidebar-navigation-close:after {
    transform: rotate(45deg);
}

.sidebar-navigation-close:before {
    transform: rotate(-45deg);
}

.btn-rm {
  width: 23px;
  height: 23px;
  border-radius: 0;
  position: relative;
  border: 0;
  box-shadow: none;
}

.btn-rm:before {
  transform: rotate(135deg);
  border-color: #ff7c43;
}

.btn-rm:after {
  transform: rotate(45deg);
  border-color: #ff7c43;
}

.input-qty-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c7c9ce;
  cursor: pointer;
}

.input-qty-field,
.input-qty-btn {
  width: 40px;
  height: 40px;
}

.input-qty-field {
  border: 0px;
  text-align: center;
}

/* /image/catalog/icons/check.svg */

.nice-select .list li.selected {
  background: url(/image/catalog/icons/check.svg) no-repeat 170px center;
}

.btn-load-pagination {
  border-radius: 0 !important;
}

.product-card-desc {
  margin-bottom: 20px;
  color: var(--main-dark);
}

@media (max-width: 768px) {
  .input-qty-field,
  .input-qty-btn {
    width: 30px;
    height: 30px;
  }

  .input-qty {
    width: 90px;
  }

  .nice-select:after {
    right: 10px;
  }

  .nice-select {
    padding-left: 9px;
    padding-right: 15px;
  }

  .input-qty-btn:before,
  .input-qty-btn:after {
    width: 15px;
    left: calc(50% - 7.5px);
  }
}

.product-page-price {
  font-style: italic;
}

.product-page-price span {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  color: #ff7c43;
  font-style: normal;
}

.product-page-desc {
  line-height: 22px;
}

#product {
  margin-bottom: 60px;
}

.stock.in-stock {
  border-color: #17c451;
  color: #17c451;
  display: flex;
  justify-content: center;
}
.in-stock-text {
  margin-right: 5px;
}
.in-stock-img {
  margin-left: 5px;
}
.stock.out-of-stock {
  border-color: #ff0000;
  color: #ff0000;
}

.big-images img {
  width: 100%;
}

@media (min-width: 767px) {
  .product-list .product-thumb .image {
    float: left;
    padding: 0 15px;
  }
}
.product-thumb h4 {
  font-weight: bold;
}
.product-thumb .caption {
  padding: 0 20px;
  min-height: 180px;
}
.product-thumb .caption > h4 + p {
  height: 70px;
  overflow: hidden;
}
.product-list .product-thumb .caption {
  margin-left: 230px;
}
@media (max-width: 1200px) {
  .product-grid .product-thumb .caption {
    min-height: 210px;
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .product-list .product-thumb .caption {
    min-height: 0;
    margin-left: 0;
    padding: 0 10px;
  }
  .product-grid .product-thumb .caption {
    min-height: 0;
  }
}
.product-thumb .rating {
  padding-bottom: 10px;
}
.rating .fa-stack {
  font-size: 8px;
}
.rating .fa-star-o {
  color: #999;
  font-size: 15px;
}
.rating .fa-star {
  color: #fc0;
  font-size: 15px;
}
.rating .fa-star + .fa-star-o {
  color: #e69500;
}
h2.price {
  margin: 0;
}
.product-thumb .price {
  color: #444;
}
.product-thumb .price-new {
  font-weight: 600;
}
.product-thumb .price-old {
  color: #999;
  text-decoration: line-through;
  margin-left: 10px;
}
.product-thumb .price-tax {
  color: #999;
  font-size: 12px;
  display: block;
}
.product-thumb .button-group {
  margin-top: 15px;
}
@media (max-width: 768px) {
  .product-list .product-thumb .button-group {
    border-left: none;
  }
}
.product-thumb .button-group button {
  width: 100% !important;
  border: none;
  display: inline-block;
  background: #ff6a29;
  color: #fff;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.product-thumb .button-group button + button {
  width: 20%;
  border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
  color: #444;
  background-color: #ddd;
  text-decoration: none;
  cursor: pointer;
}

#load-more-catalog {
  display: inline-block;
  background: #ff6a29;
  color: #fff;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 80px;
  padding: 15px;
  font-size: 16px;
}

footer ul li a {
  color: #dadaed !important;
  text-decoration: none;
  font-size: 16px;
  line-height: 2;
}

.product-card-desc {
  font-size: 16px;
  line-height: 22px;
}

#related-products {
  padding: 50px 0;
  background: #f6f7fa;
}

#related-products h3 {
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  color: #143c67;
  margin-bottom: 46px;
  position: relative;
}

.row-pagination-container + .col-sm-6.text-left {
  display: none;
}
@media (max-width: 840px) and (min-width: 480px) {
  #product-product #content h1 {
    line-height: 1.2;
  }
  .product-page-price {
    padding-left: 30px;
    padding-right: 0;
  }
}

@media (max-width: 768px) and (min-width: 480px) {
  .product-thumb {
    display: flex;
    flex-direction: column;
  }

  .product-thumb .image {
    width: 100%;
  }

  .product-thumb .product-card-info {
    width: 100%;
  }

  .product-card-info .product-card-name a {
    font-size: 18px;
    line-height: 26px;
  }

  .product-card-info .product-card-price {
    text-align: left;
  }

  .product-card-info .product-card-price span {
    font-size: 23px;
    display: inline;
  }

  .product-card-desc {
    font-size: 14px;
  }

  .product-card-info .product-card-topinfo {
    margin-bottom: 15px;
  }
}

@media (max-width: 1200px) {
  .product-thumb .button-group button,
  .product-thumb .button-group button + button {
    width: 33.33%;
  }
}
@media (max-width: 767px) {
  .product-thumb .button-group button,
  .product-thumb .button-group button + button {
    width: 33.33%;
  }
}
.thumbnails {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
}
.thumbnails > li {
  margin-left: 20px;
}
.thumbnails {
  margin-left: -20px;
}
.thumbnails > img {
  width: 100%;
}
.image-additional a {
  margin-bottom: 20px;
  padding: 5px;
  display: block;
  border: 1px solid #ddd;
}
.image-additional {
  max-width: 78px;
}
.thumbnails .image-additional {
  float: left;
  margin-left: 20px;
}

@media (min-width: 1200px) {
  #content .col-lg-2:nth-child(6n + 1),
  #content .col-lg-3:nth-child(4n + 1),
  #content .col-lg-4:nth-child(3n + 1),
  #content .col-lg-6:nth-child(2n + 1) {
    clear: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #content .col-md-2:nth-child(6n + 1),
  #content .col-md-3:nth-child(4n + 1),
  #content .col-md-4:nth-child(3n + 1),
  #content .col-md-6:nth-child(2n + 1) {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #content .col-sm-2:nth-child(6n + 1),
  #content .col-sm-3:nth-child(4n + 1),
  #content .col-sm-4:nth-child(3n + 1),
  #content .col-sm-6:nth-child(2n + 1) {
    clear: left;
  }
}

.product-layout .product-thumb {
  box-shadow: 0px 0px 10px rgb(165 167 170 / 70%);
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
  #column-left .product-layout .col-md-3 {
    width: 100%;
  }

  #column-left + #content .product-layout .col-md-3 {
    width: 50%;
  }

  #column-left + #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }

  #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
  width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^="quantity"] {
  min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-image: none;
  background-color: #df5c39;
}
html[dir="rtl"] .checkbox input[type="checkbox"],
html[dir="rtl"] .checkbox-inline input[type="checkbox"],
html[dir="rtl"] .radio input[type="radio"],
html[dir="rtl"] .radio-inline input[type="radio"] {
  position: absolute;
  margin-top: 4px\9;
  margin-right: -20px;
  margin-left: unset;
}
html[dir="rtl"] .input-group-btn:last-child > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
html[dir="rtl"] .input-group .form-control:first-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}
html[dir="rtl"] .container .row:first-child .col-sm-4,
html[dir="rtl"] .container .row:first-child .col-sm-5 {
  float: right;
}
html[dir="rtl"] #cart .dropdown-menu {
  left: 0;
  right: auto;
}
@media (min-width: 768px) {
  html[dir="rtl"] .navbar-nav {
    float: right;
    margin: 0;
  }

  html[dir="rtl"] .navbar-nav > li {
    float: right;
  }
}

/*stores*/

body.not-home .store-map-wrap {
  height: 712px;
  margin-top: 77px;
}
.store-wrap {
  margin: 0;
}

.store-card-inner {
  /* margin-top: 100px;
  margin-right: 95px; */
  /* display: grid;
  grid-template-rows: repeat(auto, 150px); */
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  /* justify-content: flex-end; */
  max-width: 490px;
  margin: 0 65px 0 auto;
}
.store-card-item {
  display: grid;
  grid-template-columns: 34% auto;
  column-gap: 40px;
  box-shadow: 0px 0px 10px 0px #222d4433;
  cursor: pointer;
  transition: 0.5s;
  width: 100%;
  margin-bottom: 10px;
  color: var(--main-dark);
}

.store-card-item:hover,
.store-card-item.active {
  box-shadow: 3px 1px 10px 0px rgba(20, 60, 103, 0.6);
}
.store-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#stores-contact {
    padding-bottom: 100px;
}

#stores-contact .slick-slide {
    padding: 15px;
}

#stores-contact .store-card-item .store-card-text p {
    margin-bottom: 8px;
}

#stores-contact .store-card-item .store-card-text p:last-child {
    margin-bottom: 0;
}

#stores-contact .store-card-item .store-card-text {
    padding: 40px 0;
}

#stores-contact .store-card-item .loop-index {
    color: #FF7C43;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 20px;
    width: 82px;
}

#stores-contact + #stores-map {
    height: 600px;
}

#stores-contact .store-card-item .store-content {
    width: calc(100% - 82px);
}

#stores-contact .store-card-item {
    display: flex;
    flex-direction: column;
}

#stores-contact .slick-prev {
    top: unset!important;
    bottom: -54px!important;
    left: calc(50% - 50px)!important;
    transform: rotate(-90deg)!important;
}

#stores-contact .slick-next {
    top: unset!important;
    bottom: -54px!important;
    left: calc(50% + 50px)!important;
    transform: rotate(90deg)!important;
}

.store-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.store-card-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.store-card-wrap {
  padding: 75px 0;
}

#stores .slick-list .slick-slide {
  opacity: 0;
}

#stores .slick-list .slick-slide.slick-active {
  opacity: 1;
}

#stores .slick-list {
  padding: 25px;
}

#stores-contact .slick-prev:before,
#stores .slick-prev:before,
#stores .slick-next:before,
#stores-contact .slick-next:before {
  content: unset;
}

#stores .slick-prev,
#stores-contact .slick-prev {
  left: calc(50% - 25px);
  top: -30px;
  background: #ff7c43;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#stores .slick-next,
#stores-contact .slick-next {
  left: calc(50% - 25px);
  bottom: -55px;
  top: unset;
  background: #ff7c43;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(180deg);
}

.store-card-text p span,
.store-card-text p a {
  font-weight: 600;
  color: var(--main-dark);
  text-decoration: none;
}
.store-card-text p.store-card-adress {
  font-weight: 700;
}
/*contactForm main*/
.contactForm-section {
  background: url(/image/catalog/GroupleftCrabb.svg) no-repeat 0 0,
    url(/image/catalog/GrouprightCrabb.svg) no-repeat right top;
  background-color: #f6f7fa;
  background-size: 250px, 600px;
  padding-bottom: 60px;
}
.cf-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cF-home {
  width: 570px;
  max-width: 100%;
  margin-top: 80px;
}
.cF-home h3 {
  font-size: 50px;
  line-height: 68px;
  font-weight: 700;
  color: var(--main-color);
  text-align: center;
}

.cF-home .form-control.error {
    border: 1px solid #f00;
}

.cF-home hr,
.contact-content hr,
.parthers-title hr,
.page-title hr,
.about-page hr {
  display: block;
  width: 200px;
  background: var(--hover-color);
  border: none;
  height: 4px;
  margin: 0 auto;
  margin-bottom: 40px;
  opacity: 1;
}
.cF-home label {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 5px;
}
.cF-home label span {
  color: var(--hover-color);
}
.cF-home input,
.cF-home textarea {
  border-radius: 0;
}
.cF-home textarea {
  resize: none;
}
.cf-group {
  margin-bottom: 20px;
  color: var(--main-dark);
}
.cf-group label,
.cf-group label {
  color: var(--main-dark);
}
.cf-button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 160px;
  height: 50px;
  color: white;
  background: var(--hover-color);
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  border-radius: none;
  border: none;
  background: #ff7c43;
}

/*AboutPage*/
.about-slider {
  position: relative;
  margin-top: 40px;
  margin-bottom: 76px;
}
.about-slider-item {
  height: 668px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-slider-item:before { 
    content: "";
    width: 100%;
    height: 100%;
    background: #ffffff82;
    position: absolute;
    z-index: 0;
}

.about-slider-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 35px 55px;
  z-index: 1;
  position: relative;
}

.about-slider .slick-arrow:before {
  content: unset;
}

.about-slider .slick-arrow,
.product_more-images .slick-arrow {
  border: none;
  border-radius: 50%;
  background: #ff7c43;
  color: #fff;
  opacity: 0.7;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 25px);
  z-index: 9;
}
.about-slider .slick-arrow:hover,
.product_more-images .slick-arrow:hover {
  opacity: 1;
}
.about-slider .slick-arrow i,
.product_more-images .slick-arrow i {
  font-size: 30px;
  font-weight: 700;
}
.about-slider .slick-arrow.slick-prev,
.product_more-images .slick-arrow.slick-prev {
  left: -25px;
}
.about-slider .slick-arrow.slick-next,
.product_more-images .slick-arrow.slick-next {
  right: -25px;
}
.about-slider .slick-arrow.slick-next i,
.product_more-images .slick-arrow.slick-next i {
  padding-left: 4px;
}

.about-slider .slick-arrow.slick-next {
  transform: rotate(90deg);
}

.about-slider .slick-arrow.slick-prev {
  transform: rotate(-90deg);
}

.about-page { 
  padding-top: 75px;
  padding-bottom: 85px;
  color: var(--main-color); 
  background-size: 250px, 550px;
}
.about-page .about-text-inner {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 770px;
  max-width: 100%;
}
.about-page .about-text-inner h2 {
  font-size: 50px;
  line-height: 68px;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 4px;
}
.about-page .about-text-inner hr {
  width: 64px;
  margin-bottom: 20px;
}

.accentText {
  font-weight: 600;
}
.parthers-section {
  height: auto;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url("/image/catalog/parthersBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.parthers-title h3 {
  text-align: center;
  font-size: 50px;
  line-height: 68px;
  font-weight: 700;
  color: #143c67;
}
.parthers-title hr {
  width: 164px;
  margin-bottom: 30px;
}
.parthers-title p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 770px;
  max-width: 100%;
  font-weight: 600;
  color: var(--main-color);
}

.parthers-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
  margin-bottom: 100px;
  grid-auto-rows: 1fr;
}
.parthers-list-item {
  position: relative;
  box-shadow: 0px 0px 20px 0px #222d4433;
  cursor: pointer;
}
.parthers-list-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.parthner-text-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 98px auto;
  z-index: 10;
  background: #fff;
  transition: 0.5s;
}
.parthers-list-item .parthner-text-block {
  opacity: 0;
}
.parthner-text-block:hover {
  opacity: 1;
}
.parthner-text-title {
  display: flex;
  align-items: center;
  color: #fff;
  background: #143c67;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
}
.parthner-text-descr {
  margin: 0;
  padding: 30px;
}
.parthner-text-descr p {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 26px;
}

.modal.fade.show {
  background: #fffc;
}

#modal-cart .modal-header h5 {
  font-size: 32px;
  width: 100%;
  color: #143c67;
}

#modal-cart .modal-header {
  padding-top: 15px;
  border-bottom: none;
  border-radius: 0;
}

#d_quickcheckout .btn-secondary {
    border: 1px solid #FF7C43!important;
    border-radius: 0!important;
}

#d_quickcheckout .btn-block {
    width: auto!important;
    padding: 15px 65px!important;
}

#modal-cart .product-name,
#modal-cart .product-name a,
#checkout-cart .product-name,
#checkout-cart .product-name a {
  color: #143c67;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

#checkout-cart a.btn {
    padding: 15px 60px;
}

#checkout-cart .cart-totals-row .total-name {
    text-transform: uppercase;
    font-weight: 700;
}

#checkout-cart .cart-totals-row {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

#checkout-cart .product-price:not(:first-child) {
    font-weight: 600;
    font-style: italic;
    color: #143C67;
}

#checkout-cart .product-total,
#checkout-cart #cart-total-sum {
    font-weight: 700;
    color: #222D44;
}

#checkout-cart .btn:first-child {
    margin-right: 30px;
}

#checkout-cart .product-name,
#checkout-cart .product-name a {
    font-weight: 700;
}

#modal-cart .row {
  color: #143c67;
}

#modal-cart .product-price {
    font-style: italic;
}

#modal-cart .modal-body > .row:not(.cart-modal-header) {
  font-weight: 600;
}

#modal-cart .modal-footer .row {
  width: 100%;
}

#modal-cart #cart-total-sum,
#modal-cart .product-total {
  color: #222d44;
}

#login_view {
    display: none;
}

#d_quickcheckout .form-control {
    border-radius: 0!important;
}

#d_quickcheckout .panel {
    box-shadow: none!important;
}

.checkout-bonuses-element {
    display: none;
}

.checkout-bonuses-element .col-sm-12 {
    padding-left: 0!important;
    padding-right: 0!important;
}

#confirm_comment_input {
    display: none;
}

#d_quickcheckout .panel-body,
#confirm_comment_input > .col-xs-12 {
    padding: 0!important;
}

#d_quickcheckout .checkout-bonuses {
    font-size: 16px;
    text-decoration: underline;
    color: #222D44;
}

#d_quickcheckout .form-group {
    margin-bottom: 0!important;
}

#d_quickcheckout .btn-primary {
    background: #ff7c43!important;
    border-radius: 0!important;
    font-size: 16px;
    border: 1px solid #FF7C43!important;    
}

#cart_view .control-label {
    display: none;
}

#cart_view .checkout-bonuses-element:first-child {
    margin-bottom: 15px;
}

#d_quickcheckout .nice-select .list li.selected {
    background: none;
}

#cart_view .control-label + div {
    margin-bottom: 15px;
}

#d_quickcheckout .panel-body {
    padding: 0;
}

#d_quickcheckout {
    padding-bottom: 50px;
}

#confirm_comment_input.active {
    display: block;
    margin-bottom: 30px!important;
}

.checkout-bonuses-element.active {
    display: block;
}

.checkout-bonuses-element.active ~ .checkout-bonuses {
    margin-top: 30px!important;
}

#d_quickcheckout .form-horizontal .control-label {
    text-align: left!important;
}

#d_quickcheckout .panel-heading,
#d_quickcheckout .panel-default {
    border: none!important;
    background: transparent!important;
    padding-right: 0!important;
    padding-left: 0!important;
}

#payment_address_form {
    display: flex;
    flex-wrap: wrap;
}

#payment_address_firstname_input,
#payment_address_form #payment_address_firstname_input .col-xs-5,
#payment_address_form #payment_address_firstname_input .col-xs-7,
#payment_address_telephone_input > div,
#payment_address_email_input > div {
    width: 100%!important;
    padding: 0!important;
}

#d_quickcheckout .nice-select.open:after {
    transform: rotate(60deg);
}

#d_quickcheckout .nice-select .list {
    width: 100%;
}

#d_quickcheckout .form-horizontal .form-group {
    margin-left: 0!important;
    margin-right: 0!important;
}

#payment_address_email_input, #payment_address_telephone_input {
    width: 50%;
    padding: 0!important;
}

#payment_address_email_input {
    padding-right: 15px!important;
}

#d_quickcheckout .panel-heading .text {
    font-size: 18px;
    color: #222D44;
    font-weight: 700;
    text-transform: uppercase;
}

#d_quickcheckout div.required .control-label:before {
    content: unset!important;
}

#d_quickcheckout label.required:after,
#d_quickcheckout div.required .control-label:after {
    content: "*";
    color: #f00;
    margin-left: 5px;
}

.cart-totals-row {
  font-weight: 600;
  font-size: 16px;
  color: #143c67;
}
/* #product-category .alert, #product-product .alert{
  display: none !important;
} */

@media (max-width: 400px) {
  #modal-cart,
  #modal-cart .product-name,
  #modal-cart .product-name a {
    font-size: 14px;
    line-height: 1.5;
  }

  #modal-cart .product-qty {
    padding: 0;
  }
}

@media (max-width: 768px) {
  #modal-cart .modal-body > div:not(:last-child) {
    border-bottom: 1px solid #cccccc45;
  }
  
  #modal-cart .modal-footer .btn-secondary {
    margin-bottom: 10px;
  }  
}

.img-thumbnail {
  padding: 0;
  border: 0;
  border-radius: 0;
}

.modal-content {
  border: 0;
  border-radius: 0;
  box-shadow: 0px 0px 20px rgb(34 45 68 / 20%);
}

.modal-dialog {
  max-width: 970px;
}

.btn-primary {
  background: #ff7c43;
  color: #fff !important;
  border: 1px solid #ff7c43;
  border-radius: 0;
  font-size: 16px;
}

.modal-footer {
  justify-content: center;
}

.btn-secondary {
  background: #fff;
  color: #ff7c43 !important;
  border: 1px solid #ff7c43;
  border-radius: 0;
  font-size: 16px;
}

@media (min-width: 992px) {
    #d_quickcheckout .btn-secondary {
        position: absolute; 
        left: -315px;
    }
}

@media (max-width: 992px) {
    #d_quickcheckout #confirm_wrap .btn-secondary {
        margin-top: 10px!important;
    }
    
  #banner-nav-home {
    background-size: 160px, 473px;
  }

  #banner-nav-home .container {
    width: 100%;
  }

  #banner-nav-home .col-2 ul li a {
    width: 80px;
    height: 80px;
    font-size: 12px;
    line-height: 80px;
  }

  #banner-nav-home .col-2 ul li:nth-child(1) {
    left: -160px;
    top: -100px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(1) {
    left: 195px;
  }

  #banner-nav-home .col-2 ul li:nth-child(2) {
    left: -5px;
    top: 65px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(2) {
    left: 55px;
  }

  #banner-nav-home .col-2 ul li:nth-child(3) {
    left: -150px;
    top: 210px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(3) {
    left: 185px;
  }

  #banner-nav-home .col-2 ul li:last-child a {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }

  .product-params .nice-select,
  .product-params .nice-select ul {
    width: 150px;
  }

  .nice-select .list li.selected {
    background-position-x: 125px;
  }

  .stock {
    padding: 8px 15px;
  }

  #button-cart {
    padding: 13px 0;
  }
}

@media (max-width: 768px) {
  #information-contact h1, #checkout-cart h1, #checkout-checkout h1 {
      font-size: 36px;
  }
  
  .checkout-nav li {
      font-size: 13px;
      line-height: 1.2;
  }
  
  #banner-nav-home .col-2 ul li a {
    width: 70px;
    height: 70px;
    font-size: 10px;
    line-height: 70px;
  }

  #banner-nav-home {
    background-size: 80px, 273px;
  }

  #banner-nav-home .col-2 ul li:nth-child(1) {
    left: -160px;
    top: -70px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(1) {
    left: 195px;
  }

  #banner-nav-home .col-2 ul li:nth-child(2) {
    left: -5px;
    top: 50px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(2) {
    left: 55px;
  }

  #banner-nav-home .col-2 ul li:nth-child(3) {
    left: -110px;
    top: 150px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(3) {
    left: 150px;
  }

  #banner-nav-home .col-2 ul li:last-child a {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
}

@media (max-width: 600px) {
  #banner-nav-home .col-2 ul li a {
    width: 70px;
    height: 70px;
    font-size: 10px;
    line-height: 70px;
  }

  #banner-nav-home .col-2 ul li:nth-child(1) {
    left: -135px;
    top: -70px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(1) {
    left: 150px;
  }

  #banner-nav-home .col-2 ul li:nth-child(2) {
    left: -5px;
    top: 25px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(2) {
    left: 15px;
  }

  #banner-nav-home .col-2 ul li:nth-child(3) {
    left: -75px;
    /* top: 110px; */
    top: 135px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(3) {
    left: 75px;
  }

  #banner-nav-home .col-2 ul li:last-child a {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
}

@media (max-width: 510px) {
  #banner-nav-home .col-2 ul li:nth-child(1) {
    left: -110px;
    top: -70px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(1) {
    left: 110px;
  }

  #banner-nav-home .col-2 ul li:nth-child(2) {
    left: -5px;
    top: 10px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(2) {
    left: 5px;
  }

  #banner-nav-home .col-2 ul li:nth-child(3) {
    left: -75px;
    top: 95px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(3) {
    left: 75px;
  }

  #banner-nav-home .col-2 ul li:last-child a {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
}

@media (max-width: 540px) {
    .checkout-nav {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .checkout-nav li:not(:last-child) {
        margin-bottom: 15px;
    }
}

@media (min-width: 1400px) {
  #banner-nav-home .col-2 ul li:nth-child(3) {
    top: 310px;
  }
}

@media (max-width: 480px) {
  #banner-nav-home .col-2 ul li a {
    width: 50px;
    height: 50px;
    font-size: 8px;
    line-height: 50px;
  }

  #banner-nav-home .col-2 ul li:nth-child(1) {
    left: -70px;
    top: -55px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(1) {
    left: 70px;
  }

  #banner-nav-home .col-2 ul li:nth-child(2) {
    left: -5px;
    top: 10px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(2) {
    left: 0px;
  }

  #banner-nav-home .col-2 ul li:nth-child(3) {
    left: -40px;
    top: 65px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(3) {
    left: 40px;
  }

  #banner-nav-home .col-2 ul li:last-child a {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
@media (max-width: 1199px) {
  .parthers-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .parthner-text-block {
    grid-template-rows: auto auto;
  }
  .about-slider-item {
    height: 500px;
  }
  .about-slider-item img {
    padding: 5%;
  }
  #about-us-home .col-md-6:first-child img {
    height: 100%;
    max-height: 100%;
  }
  #about-us-home .col-md-6:last-child {
    padding: 20px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(2) {
    left: 60px;
  }
  #banner-nav-home .col-2 ul li:nth-child(2) {
    left: 5px;
  }
}
@media (max-width: 1000px) {
  #banner-nav-home .col-2:first-child ul li:nth-child(2) {
    left: 30px;
  }
  #banner-nav-home .col-2 ul li:nth-child(2) {
    left: 18px;
  }
}
@media (max-width: 990px) {
  #stores .slick-slide {
    width: 100% !important;
  }
  #stores .slick-list {
    padding: 25px 10px;
  }
  .store-card-inner {
    margin: 0 auto;
    max-width: 100%;
  }
  .store-card-item {
    column-gap: 20px;
  }

  #product {
    margin: 0;
  }
  #product > .row {
    margin: 0;
    padding: 0;
  }
  #product > .row > .col-6 {
    padding: 0;
  }
  .stock {
    padding: 10px 0;
    margin-right: 5px;
  }
  #button-cart {
    margin-left: 5px;
    width: calc(100% - 5px);
  }
}
@media (max-width: 767px) {
  .parthers-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-slider-item {
    height: 400px;
  }

  #banner-nav-home {
    padding: 100px 30px;
  }

  #banner-nav-home .col-2:first-child ul li:nth-child(2) {
    left: 5px;
  }
  #banner-nav-home .col-2 ul li:nth-child(2) {
    left: 18px;
  }
  #banner-nav-home .col-2:first-child ul li:nth-child(3) {
    left: 120px;
  }
  #banner-nav-home .col-2:first-child ul li:nth-child(1) {
    left: 150px;
  }
  #banner-nav-home .col-2 ul li:nth-child(1) {
    left: -135px;
    top: -80px;
  }
}

@media (max-width: 640px) {
  .parthers-list {
    grid-auto-rows: 350px;
  }
  .about-slider-item {
    height: 300px;
  }
  .about-slider .slick-arrow.slick-prev {
    left: -5px;
  }
  .about-slider .slick-arrow.slick-next {
    right: -5px;
  }
}

@media (max-width: 450px) {
  .store-card-inner {
    margin: 0 auto;
  }
  #banner-nav-home .col-2:first-child ul li:nth-child(3) {
    left: 80px;
    top: 90px;
  }
  #banner-nav-home .col-2 ul li:nth-child(3) {
    left: -80px;
    top: 90px;
  }
  #banner-nav-home .col-2:first-child ul li:nth-child(1) {
    left: 85px;
  }
  #banner-nav-home .col-2 ul li:nth-child(1) {
    left: -70px;
  }
  #banner-nav-home .col-2:first-child ul li:nth-child(2) {
    left: -11px;
  }
  .subcategory-filter li {
    padding: 15px 20px;
  }

  #product-product {
    padding-bottom: 20px;
  }
  #product-product #content {
    margin-top: 0;
  }
  #product-category h1 {
    margin-top: 0px;
  }
  #related-products {
    padding: 20px 0;
  }
  #related-products h3 {
    font-size: 40px;
    line-height: 1.2;
  }
}
@media (max-width: 400px) {
  .store-card-item {
    column-gap: 10px;
  }
  .store-card-item {
    grid-template-columns: 30% auto;
  }
  .product-card-info .product-card-price span {
    font-size: 26px;
    line-height: 1.5;
  }
}
@media (max-width: 360px) {
  #banner-nav-home .col-2:first-child ul li:nth-child(3) {
    left: 40px;
    top: 70px;
  }
  #banner-nav-home .col-2 ul li:nth-child(3) {
    left: -55px;
    top: 70px;
  }
  #banner-nav-home .col-2:first-child ul li:nth-child(1) {
    left: 50px;
  }
  #banner-nav-home .col-2 ul li:nth-child(1) {
    left: -62px;
  }
  #banner-nav-home .col-2:first-child ul li:nth-child(2) {
    left: -20px;
  }
}
@media (max-width: 320px) {
  .store-card-item {
    grid-template-columns: 20% auto;
  }
}
@media (max-width: 319px) {
  .store-card-item {
    grid-template-columns: 0% 100%;
  }
  .store-card-text {
    padding: 10px;
  }
}
@media (max-width: 290px) {
  #banner-nav-home .col-2:first-child ul li:nth-child(3) {
    left: 25px;
  }
  #banner-nav-home .col-2 ul li:nth-child(3) {
    left: -40px;
  }
  #banner-nav-home .col-2:first-child ul li:nth-child(1) {
    left: 25px;
  }
  #banner-nav-home .col-2 ul li:nth-child(1) {
    left: -50px;
  }
  #banner-nav-home .col-2:first-child ul li:nth-child(2) {
    left: -30px;
  }
  #banner-nav-home .col-2 ul li:nth-child(2) {
    top: -6px;
  }
}
