{% if categories %}
  <nav id="menu" class="navbar navbar-expand-lg">
    <button class="navbar-toggler navbar-{% if (home_url == '/' or home_url == '/index.php?route=common/home') %}light{% else %}dark{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#pageSubmenu" aria-controls="pageSubmenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	  {% for header in headermenu %} 
            {% if header.column == -1 %}
                {% for category in categories %}
                {% if category.children %}
                <li class="nav-item dropdown">
                  <a href="{{ header.link }}" class="nav-link dropdown-toggle" id="navbarDropdownCats" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ category.name }}</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownCats">
                    {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                        {% for child in children %}
                        <a class="dropdown-item" href="{{ child.href }}">{{ child.name }}</a>
                        {% endfor %}
                      {% endfor %}
                  </div>
                </li>
                {% else %}
                <li><a class="nav-link" href="{{ category.href }}">{{ category.name }}</a></li>
                {% endif %}
                {% endfor %}
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ header.link }}">{{ header.title }}</a>
                {% if header.sub_title %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">	
                    <div class="dropdown-inner">
                    <ul class="list-unstyled">
                    {% for subtitle in header.sub_title %}
                    <li>
                        {% if subtitle.href %}				
                        <a href="{{ subtitle.href }}">{{ subtitle.title }}</a>
                        {% else %}
                        <a href="{{ subtitle.link }}">{{ subtitle.title }}</a>	
                        {% endif %}
                        {% if header.sub_title %}
                    
                    <ul>
                    {% for subtitle in subtitle.sub_title %}
                    <li>
                        {% if subtitle.href %}						
                        <a href="{{ subtitle.href }}">{{ subtitle.title }}</a>
                        {% else %}
                        <a href="{{ subtitle.link }}">{{ subtitle.title }}</a>	
                        {% endif %}
                </li>
                    {% endfor %}
                        
                    </ul>				
                    {% endif %}
                </li>
                    {% endfor %}
                    </ul>				
                    </div>
                    </div>
                    
                    {% endif %}	
                </li>	
            {% endif %}                
			{% endfor %}
      </ul>
    </div>
  </nav>
        <div class="sidebar-container collapse py-3" id="pageSubmenu">
          <div class="sidebar-navigation-close" data-bs-toggle="collapse" data-bs-target="#pageSubmenu" aria-controls="pageSubmenu" aria-expanded="false" aria-label="Toggle navigation"></div>
          <ul class="sidebar-navigation">
          {% for header in headermenu %} 
                {% if header.column == -1 %}
                    {% for category in categories %}
                    {% if category.children %}
                    <li class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownCats" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ category.name }}</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownCats">
                        {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                            {% for child in children %}
                            <a class="dropdown-item" href="{{ child.href }}">{{ child.name }}</a>
                            {% endfor %}
                          {% endfor %}
                      </div>
                    </li>
                    {% else %}
                    <li><a class="nav-link" href="{{ category.href }}">{{ category.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ header.link }}">{{ header.title }}</a>
                    {% if header.sub_title %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">	
                        <div class="dropdown-inner">
                        <ul class="list-unstyled">
                        {% for subtitle in header.sub_title %}
                        <li>
                            {% if subtitle.href %}				
                            <a href="{{ subtitle.href }}">{{ subtitle.title }}</a>
                            {% else %}
                            <a href="{{ subtitle.link }}">{{ subtitle.title }}</a>	
                            {% endif %}
                            {% if header.sub_title %}
                        
                        <ul>
                        {% for subtitle in subtitle.sub_title %}
                        <li>
                            {% if subtitle.href %}						
                            <a href="{{ subtitle.href }}">{{ subtitle.title }}</a>
                            {% else %}
                            <a href="{{ subtitle.link }}">{{ subtitle.title }}</a>	
                            {% endif %}
                    </li>
                        {% endfor %}
                            
                        </ul>				
                        {% endif %}
                    </li>
                        {% endfor %}
                        </ul>				
                        </div>
                        </div>
                        
                        {% endif %}	
                    </li>	
                {% endif %}                
                {% endfor %}
          </ul>
          <div class="mobile-contacts ps-4">
            <div class="mobile-contact-phone mb-2">
                <img src="/image/catalog/icons/phone-call-white.svg"> {{ telephone }}
            </div>
            <div class="mobile-contact-phone">
                <img src="/image/catalog/icons/clock-white.svg"> {{ open }}
            </div>
          </div>
        </div>   
{% endif %} 