{{ header }}
<div id="information-contact">
  <div>{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content">{{ content_top }}   
      {% if locations %}
    <section id="stores-contact" class="container">
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>    
      
      <h1>Наши магазины</h1>
      
        <div class="store-wrap row">
            <div class="store-contact-card-wrap container">
                <div class="store-contact-card-inner">
                    {% for location in locations %}
                        <div>
                            <div class="store-card-item" data-attr="{{ location.location_id - 1 }}" data-geo="{{ location.geocode }}">
                                <div class="store-card-image">
                                    <img src="{{ location.image }}">
                                </div>
                                <div class="store-card-text">
                                    <div class="row">
                                        <div class="loop-index">
                                            {{ loop.index }}
                                        </div>
                                        <div class="store-content">
                                        <p class="store-card-adress">{{ location.address }}</p>
                                        <p>Время работы:
                                            <span>{{ location.open }}</span>
                                        </p>
                                        <p>тел:
                                            <a href="tel:{{ location.telephone }}">{{ location.telephone }}</a>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <div class="store-map-wrap col-md-12" id="stores-map"></div>
    {% endif %}
    <section id="contactForm" class="contactForm-section">
        <div class="container cf-container">
            <form class="cF-home" action="{{ action }}" method="post" enctype="multipart/form-data">
                <h3>Напишите нам</h3>
                <hr>
                <div class="row">
                    <div class="col-md-12 cf-group">
                        <label for="fio" class="form-label">ФИО<span>*</span>:
                        </label>
                        <input type="text" name="name" value="{{ name }}" class="form-control" id="fio">
                      {% if error_name %}
                      <div class="text-danger">{{ error_name }}</div>
                      {% endif %}                        
                    </div>
                    <div class="col-md-6 cf-group">
                        <label for="cF-email" class="form-label">Email:</label>
                        <input type="email" name="email" value="{{ email }}" class="form-control" id="cF-email">
                      {% if error_email %}
                      <div class="text-danger">{{ error_email }}</div>
                      {% endif %}                        
                    </div>
                    <div class="col-md-6 cf-group">
                        <label class="form-check-label" for="cF-phone">Номер Телефона<span>*</span>:</label>
                        <input type="text" name="phone" value="{{ phone }}" class="form-control" id="cF-phone" data-toggle="tooltip" data-placement="top">
                    </div>
                    <div class="col-md-12 cf-group">
                        <label for="cf-textarea" class="form-label">Сообщение<span>*</span>:</label>
                        <textarea class="form-control" name="enquiry" id="cf-textarea" rows="6"></textarea>
                      {% if error_enquiry %}
                      <div class="text-danger">{{ error_enquiry }}</div>
                      {% endif %}                        
                    </div>
                </div>
                <input type="hidden" name="agree" value="1">
                <button type="submit" class="cf-button">Отправить</button>
            </form>
        </div>
    </section>    
     
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal d-none">
        <div class="buttons">
          <div class="pull-right">
            <input class="btn btn-primary" type="submit" value="{{ button_submit }}" />
          </div>
        </div>
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

{{ footer }}