{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
</div>
<div id="information-information">
    <div class="{% if banner %}{% else %}container{% endif %} my-5">
    {% if banner %}
        <section class="about-slider-wrapper">
            <div class="about-slider container">
            {% for slide in banner %}
                    <div class="about-slider-item">
                        <img src="{{ slide['image'] }}">
                    </div>
            {% endfor %}
            </div>
        </section>
    {% endif %}
    {{ description }}
    </div>
</div>
{{ footer }}